*~
*.lock
*.orig
*.sql
*.log
*.bundle
.DS_Store
ssh.exe.stackdump

nodes/webapp-*.json
nodes/vagrant-*.json
cookbooks/
vendor/*
.kitchen/*
.codenvy/*
.vagrant/*
.chef/*
websites/*
!websites/README
data_bags/*/*
!data_bags/*/README
